<table class="table table-condensed table-striped" >
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Condición</th>
			<th>Cantidad</th>
			<th>Y cant</th>
			<th>Mínimo</th>
			<th>Máximo</th>
			<th>Unidad</th>
			<th>Iniciador</th>
			<th>Rel. Y</th>
			<th>Rel. O</th>
		</tr>
	</thead>
	<tbody>
		{{#each accountsArray}}
			<tr data-account_id="{{id}}">
				<td>{{name}}</td>
				<td>{{condicion}}</td>
				<td>{{cantidad}}</td>
				<td>{{ycantidad_c}}</td>
				<td>{{cantidad_minima_c}}</td>
				<td>{{limitado_a_c}}</td>
				<td>{{tipo_unidad_c}}</td>
				<td>{{iniciador_c}}</td>
				<td>{{tipo_unidad_c}}</td>
				<td>{{tipo_unidad_c}}</td>
			</tr>
		{{else}}
  			<tr><td colspan="4"> No hay datos...</td></tr>
		{{/each}}
	</tbody>
</table>