<table class="table table-condensed table-striped" >
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Identificador</th>
			<th>Compañía</th>
			<th>No Agente</th>
		</tr>
	</thead>
	<tbody>
		{{#each asesoresArray}}
			<tr data-account_id="{{id}}">
				<td>{{name}}</td>
				<td>{{user_name}}</td>
				<td>{{compania_c}}</td>
				<td>{{no_agente_c}}</td>
			</tr>
		{{else}}
  			<tr><td colspan="4"> No hay datos...</td></tr>
		{{/each}}
	</tbody>
</table>