<div class="form-horizontal">
    {{#each grid}}
        <div class="row-fluid control-group">
            {{#each this}}
            <div class="span{{span}} record-cell{{#if cell_css_class}} {{cell_css_class}}{{/if}}" data-type="{{type}}" data-name="{{name}}">
                <div class="record-label" data-name="{{name}}">
                    {{str vname ../../module}}
                </div>
                <span class="normal{{#if css}} {{css}}{{/if}} index{{index}}" data-fieldname="{{name}}" data-index="{{index}}">
                    {{field ../../this model=../../model template=../../action}}
                </span>
            </div>
            {{/each}}
        </div>
    {{/each}}
</div>