<div class="form-horizontal">
    <div class="row-fluid control-group" >
        <a class="btn hidden" name="guardar-grupo">{{str 'LBL_GUARDAR_GRUPO'}}</a>
        <a class="btn hidden" name="clear-paste">{{str 'LBL_CLEAR_PASTE'}}</a>
    </div>
</div>
<div class="form-horizontal">
{{!-- 
        {{#each meta.fields}}
        <div class="row-fluid control-group span6" >
            <div class="control-label span12">
                <div class="control-label-background">
                    <label class="tright record-label" data-name="{{name}}">{{str vname ../model.module}}</label>
                </div>
            </div>
            <div class="controls span12" data-type="{{type}}" data-name="{{name}}">
                <span class="normal{{#if css}} {{css}}{{/if}} index{{index}}" data-fieldname="{{name}}" data-index="{{index}}">
                    {{field ../this model=../model template=../action}}
                </span>
            </div>
        </div>
        {{/each}}
</div> --}}

{{#each grid}}
    <div class="row-fluid control-group">
        {{#each this}}
        <div class="span{{span}} record-cell{{#if cell_css_class}} {{cell_css_class}}{{/if}}" data-type="{{type}}" data-name="{{name}}">
            <div class="record-label" data-name="{{name}}">
                {{log this}}
                {{log ../../module}}
                {{str vname ../../module}}
            </div>
            <span class="normal{{#if css}} {{css}}{{/if}} index{{index}}" data-fieldname="{{name}}" data-index="{{index}}">
                {{field ../../this model=../../model template=../../action}}
            </span>
        </div>
        {{/each}}
    </div>
{{/each}}
</div>

<div class="row-fluid paste-container hidden" >
    <textarea name="paste"></textarea>
</div>
<div class="row-fluid sku-list-container hidden" ></div>
