{{#each meta.panels}}
<table class="table table-striped dataTable">
    <thead>
    <tr>
        {{#each fields}}
            <th class="{{#isSortable ../../module this}}sorting{{#eq ../../../orderBy.field name}}_{{../../../../orderBy.direction}}{{/eq}} orderBy{{name}}{{/isSortable}}{{#if widthClass}} {{widthClass}}{{/if}}"
                {{#if styles}} style="{{styles}}"{{/if}}
                {{#if name}} data-fieldname="{{name}}"{{/if}} data-orderby="{{orderBy}}">
                 <span>
                    {{str vname ../../module}}-{{log ../../module}}--{{log vname}}
                 </span>
            </th>
        {{/each}}
    </tr>
    </thead>
    <tbody>
    {{#each ../collection.models}}
    <tr name="{{module}}_{{attributes.id}}" class="single">
        
    </tr>
    {{else}}
    <tr><td>saludos</td></tr>
    {{/each}}
    </tbody>
</table>
{{/each}}
