<div class="row-fluid" style="margin: 1em 0em;">
    <div class="row-fluid" style="margin-bottom: 1em;">
        <span class="btn btn-default hide" name="save_group" >Guardar gpo</span><span class="btn btn-default" name="cancel_group" >Cancelar gpo</span><span class="btn btn-default hide" name="clear_skus" >Limpiar Skus</span>
    </div>
    <div class="row-fliud form-horizontal">
        {{#each grid}}
            <div class="row-fluid control-group">
                {{#each this}}
                <div class="span{{span}} record-cell{{#if cell_css_class}} {{cell_css_class}}{{/if}}" data-type="{{type}}" data-name="{{name}}">
                    <div class="record-label" data-name="{{name}}">
                        {{str vname ../../module}}
                        {{log ../../module}}
                    </div>
                    <span class="normal{{#if css}} {{css}}{{/if}} index{{index}}" data-fieldname="{{name}}" data-index="{{index}}">
                        {{field ../../this model=../../model template=../../action}}
                    </span>
                </div>
                {{/each}}
            </div>
        {{/each}}
    </div>
    <div class="row-fluid">
        <div class="span6" id="paste_content">
            <textarea rows="5" cols="90" id="skus_volumen_regalo" class="input-medium wide tleft hide" style="background-color: #fdfdfd; margin-top:1em; margin-left:1em;" placeholder="Pega los Skus aquí"></textarea>
        </div>
        <div  id="paste_content_message" class="span4 offset1 hide">
            <!--<div class="well well-large well-transparent lead">-->
                <span id="paste_content_loadingmsg"><i class="fa fa-spinner fa-spin"></i> Validando folios...</span>
                <!--<span id="paste_content_cstmsg"></span>-->
            </div>
        </div>
    </div>
    <div class="row-fluid sku-list-container hidden" style="margin: 1em 0em;"></div>
    <div class="row-fluid group-list-container hidden" style="margin: 1em 0em;"></div>
</div>